<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Flyable</title>

</head>
<body>

	<h1>Sorry to see you leave</h1>
		<div>
			Sign Up below if you have changed your mind.
		</div>
				<div>
		<form method="POST" action="/signup">
			<div>
				<input type="email" name="not defined yet" placeholder="email">
			</div>
			<div>
				<input type="password" name="not defined yet" placeholder="password">
			</div>
			<button>Sign up</button>
		</form>

</body>
</html>