<% include ./partials/header %>
<body class="index">	 
	<div class="row">
		<div class="col-sx-12">
			<div>
				<h3>A no frill weather app informing you about flyable sites in the San Francisco Bay Area</h3>
			</div>
			Sign up to search for launch sites.			
		</div>
			
	</div>
		

<% include ./partials/footer %>