<% include ./partials/header %>
	 
	
<title>Flyable</title>


<body>
	<div class="container">
			<div>
				<a href="/users/logout">Log Out</a>
				<a href="/users/login">Login</a>
				<a href="/users/profile">Profile</a>
				<a href="/">Home</a>
			</div>
		</div>
	<h1>Front Page</h1>
		<div class="row">
			<div class="col-xs-6 col-xs-offset-3">
				<form class="myForm" method="GET" action="site/paragliding">
					<input type="text" name="q3" placeholder="Search">
					<button>Click me</button>
				</form>
			</div>
		</div>
		
		<div>

		</div>
</body>
</html>
		<div class="row">
			<div class="col-xs-6 col-xs-offset-3">Choose your location:
				<form class="myForm" method="GET" action="/site/paragliding">
					<input type="change" value="q4" list="datalist">
						<datalist id="datalist">
				  			<option value="q4">KCADALYC1</option>
				  			<option>Daly City</option>
				  			<option>Berkeley</option>
						</datalist>
						<button type="submit">SUBMIT</button>
				</form>
			</div>
		</div>
		<!-- <div class="row">
			<div class="col-xs-6 col-xs-offset-3">Choose your location:
				<form class="myForm" method="GET" action="site/paragliding">
					<input type="" list="datalist">
					<datalist id="q1">
						  <option name="q3">Mussel Rock</option>
						  <option>Daly City</option>
						  <option>Berkeley</option>
					</datalist>
						<button>Click me</button>
				</form>
			</div>
		</div> -->