<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Flyable</title>

</head>
<body>
	<div class="container">
		<div>
			<a href="/signup">Sign Up</a>
		</div>
	
	<h1>Welcome to Flyable!</h1>
		<div>This Site will inform you about flyable weather conditions.
		</div>
		
		<form method="POST" action="/login">
			<div>
				<input type="email" name="not defined yet" placeholder="email">
			</div>
			<div>
				<input type="password" name="not defined yet" placeholder="password">
			</div>
			<button>Login! NOW!!!</button>
		</form>
</body>
</html>