<% include ./partials/header %>
	 
	
<title>Flyable</title>


<body>
	<div class="container">
		<div>
			<a href="/users/logout">Log Out</a>
			<a href="/users/login">Login</a>
			<a href="/users/profile">Profile</a>
		</div>
	<h1>Front Page</h1>
		<div class="row">
			<div class="col-xs-6 col-xs-offset-3">
				<form class="myForm" method="GET" action="site/paragliding">
					<input type="text" name="q3" placeholder="Search">
					<button>Click me</button>
				</form>
			</div>
		</div>
		
		<div>

		</div>
</body>
</html>