<% include ../partials/header %>

<body>
	<h1>Edit your profile</h1>
		<div>
			Fill out some more profile information.
		</div>
			
			<div>
				<form method="POST" action="/profile/edit?_method=PUT">
					<div>
						<input class="form" type="string" name="user[fname]" placeholder="First Name" value="<%= user.fname %>">
					</div>

					<div>
						<input class="form" type="string" name="user[lname]" placeholder="Last Name" value="<%= user.lname %>">
					</div>

					<div>
						<input class="form" type="string" name="user[age]" placeholder="Age" value="<%= user.age %>">
					</div>

					<div>
						<input class="form" type="tel" name="user[phone]" placeholder="Phone number" value="<%= user.phone %>">
					</div>
					<button>SAVE</button>
				</form>


</body>
</html>