<% include ../partials/header %>

<body class="login">
		<div>Please log in.
		</div>
			<% if (err) { %>
				<div style="color:red;">
					<%= err %>
				</div>
			<% } %>
		<form method="POST" action="/login">
			<div>
				<input class="form" type="email" name="email" placeholder="email">
			</div>
			<div>
				<input class="form" type="password" name="password" placeholder="password">
			</div>
			<button class="form">Login</button>
		</form>
	</div>
</body>
</html>