<% include ../partials/header %>

<body class="login">

	<h1>Welcome to Flyable!</h1>
		<div>Sign in to check your saved locations
		</div>
			<% if (err) { %>
				<div style="color:red;">
					<%= err %>
				</div>
			<% } %>
		<form method="POST" action="/users/login">
			<div>
				<input class="form" type="email" name="email" placeholder="email">
			</div>
			<div>
				<input class="form" type="password" name="password" placeholder="password">
			</div>
			<button class="form">Login! NOW!!!</button>
		</form>
	</div>
</body>
</html>