<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<title>Flyable</title>

</head>
<body>
	<div class="container">
		<div>
			<a href="/">Home</a>
		</div>

	<h1>See you again soon!</h1>
		<div>
			Login below if you have changed your mind.
		</div>
				<div>
		<form method="POST" action="/users/login">
			<div>
				<input type="email" name="email" placeholder="email">
			</div>
			<div>
				<input type="password" name="password" placeholder="password">
			</div>
			<button>Login</button>
		</form>

</body>
</html>