<% include ../partials/header %>

<body>
	<div class="container">

	<h1>See you again soon!</h1>
		<div>
			Login below if you have changed your mind.
		</div>
				<div>
		<form method="POST" action="/users/login">
			<div>
				<input class="form" type="email" name="email" placeholder="email">
			</div>
			<div>
				<input class="form" type="password" name="password" placeholder="password">
			</div>
			<button class="form">Login</button>
		</form>

</body>
</html>