<% include ../partials/header %>

<body class="logout">
	<div class="container">

	<h1>Keep Calm and go Paragliding</h1>

				<div>
		<form method="POST" action="/users/login">
			<div>
				<input class="form" type="email" name="email" placeholder="email">
			</div>
			<div>
				<input class="form" type="password" name="password" placeholder="password">
			</div>
			<button class="form">Log back in</button>
		</form>

</body>
</html>