<% include ../partials/header %>

<body class="profile">
	<div class="container">
	<h1>Welcome New User</h1>
		<div>
			This is your profile.
		</div>

		<h1>Hi <%= User.email %></h1>


	</div>

</body>
</html>