<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<title>Flyable</title>

</head>
<body>
	<div class="container">
		<div>
			<!--WILL BE ADDED AS BONUS: <a href="/profile/edit">Edit Profile</a> -->
			<a href="/users/logout">Log Out</a>
			<a href="/users/profile">Profile</a>
			<a href="/">Home</a>
		</div>
	<h1>Welcome New User</h1>
		<div>
			This is your profile.
		</div>
		<div class="row">
			<div class="col-xs-6 col-xs-offset-3">Choose your location:
				<form action="/search" method="POST">
					<input type="change" list="datalist">
				<datalist id="datalist">
				  <option>San Francisco</option>
				  <option>Daly City</option>
				  <option>Berkeley</option>
				</datalist>
				</form>
			</div>
		</div>
</body>
</html>