<% include ../partials/header %>

<body class="signup">

	<h1>Sign up</h1>
		<div>Sign up to to customize your location. 
			<br>
			Once you created a profile you can save your favorite locations to stay up to date on current weather.
		</div>

		<form method="POST" action="/users/signup">
			<div>
				<input class="form" type="email" name="email" placeholder="email">
			</div>
			<div>
				<input class="form" type="password" name="password" placeholder="password">
			</div>
			<button class="form" >Sign Up</button>
		</form>
</body>
</html>