<% include ../partials/header %>

<body class="signup">

	<h1>Welcome to Flyable!</h1>
		<div>Sign up to to customize your launch locations. 
		</div>

		<form method="POST" action="/signup">
			<div>
				<input class="form" type="email" name="email" placeholder="email">
			</div>
			<div>
				<input class="form" type="password" name="password" placeholder="password">
			</div>
			<button class="form" >Sign Up</button>
		</form>
</body>
</html>