<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<title>Flyable</title>

</head>
<body>
	<div class="container">
		<div>
			<a href="/users/login">Login</a>
			<a href="/">Home</a>
		</div>

	<h1>Sign up</h1>
		<div>Sign up to to customize your location. 
			<br>
			Once you created a profile you can save your favorite locations to stay up to date on current weather.
		</div>

		<form method="POST" action="/users/signup">
			<div>
				<input type="email" name="email" placeholder="email">
			</div>
			<div>
				<input type="password" name="password" placeholder="password">
			</div>
			<button>Sign Up</button>
		</form>
</body>
</html>